{% extends "base.html" %}

{% block title %}Home - CMS{% endblock %}

{% block content_header %}
<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Latest Posts</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% for post in posts %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ post.title }}</h3>
                <div class="card-tools">
                    <span class="text-muted">
                        <i class="far fa-clock"></i> {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}
                    </span>
                </div>
            </div>
            <div class="card-body">
                {{ post.content|truncate(200) }}
            </div>
            <div class="card-footer">
                <a href="{{ url_for('public_view_post', post_id=post.id) }}" class="btn btn-primary btn-sm">Read More</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-info">
            No posts available.
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} 